body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.flex {
  display: flex;
  align-items: baseline;
}

/* ===== HEADER ======= */

.header-container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.nav-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-part {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-contacts {
  display: flex;
  gap: 40px;
}

.menu {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover::after,
.menu:focus::after,
.menu.current::after {
  opacity: 1;
}

.menu:hover,
.menu:focus,
.menu.current {
  color: #404bbf;
}

.contact-header {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
}

.contact-header-link {
  color: #434455;
  margin-left: auto;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header-link:hover,
.contact-header-link:focus {
  color: #404bbf;
}

.font-style-normal {
  font-style: normal;
}

/* ===== END HEADER ====== */

/* ===== MAIN ====== */

.main-section-top {
  color: #ffffff;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-section1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  font-size: 56px;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-sec {
  padding: 120px 0;
}

.benefits-sec .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefits-sec .title-sub {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.box-icon-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.benefits-ul {
  display: flex;
  gap: 24px;
}

.benefits-li {
  width: calc((100% - 72px) / 4);
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-our-team {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-flex {
  display: flex;
  gap: 24px;
}

.team-info {
  padding: 32px 0;
}

.title-sub-our-team {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.ul-social-ourteam {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: #404bbf;
}

.svg-social-icons {
  width: 100%;
  fill: #f4f4fd;
}

.our-team-li {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-our-portfolio {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-li:hover .conteiner-text {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.conteiner-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-conteiner {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-sub-portfolio {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-sec {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-sec .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== END MAIN ====== */

/* ===== FOOTER ====== */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-part {
  color: #f4f4fd;
}

.footer .text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-footer-div {
  margin-right: 120px;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
}

.p-social-footer {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 16px;
}

.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

/* end */
